:root {
  --color-main: #3ab19b;
  --color-main-light: #3ab19b79;
  --color-accent: #ff884d;
  --color-accent-light: #ffc3a3;
  --color-plain: #f0f4f3;

  --color-gray: #d9dfdd;
  --color-dark: #30423e;
  --color-danger: #e42727;

  --color-text-dark: #4b4f4e;
  --color-text-gray: #7e7e7e;
  --color-text-light: white;
  --color-text-link: #0645ad;

  --bs-main: 0 2px 2px 0px #3ab19b49;

  --font-main: "Open Sans", sans-serif;
}
